<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="toolbar-icon">search</mat-icon>
    <span>Search</span>
  </mat-toolbar-row>
</mat-toolbar>
<!-- 
<nav _ngcontent-c3="" class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div _ngcontent-c3="" class="container-fluid">
        <div _ngcontent-c3="" class="navbar-wrapper">
          <a _ngcontent-c3="" class="navbar-brand" href="#">Dashboard</a>
        </div>
        <button _ngcontent-c3="" class="navbar-toggler" mat-raised-button="" type="button">
            <span _ngcontent-c3="" class="sr-only">Toggle navigation</span>
            <span _ngcontent-c3="" class="navbar-toggler-icon icon-bar"></span>
            <span _ngcontent-c3="" class="navbar-toggler-icon icon-bar"></span>
            <span _ngcontent-c3="" class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div _ngcontent-c3="" class="collapse navbar-collapse justify-content-end" id="navigation">
            <form _ngcontent-c3="" class="navbar-form">
                <div _ngcontent-c3="" class="input-group no-border">
                    <input _ngcontent-c3="" class="form-control" placeholder="Search..." type="text" value="">
                    <button _ngcontent-c3="" class="btn btn-white btn-round btn-just-icon" mat-raised-button="" type="submit">
                        <i _ngcontent-c3="" class="material-icons">search</i>
                        <div _ngcontent-c3="" class="ripple-container"></div>
                    </button>
                </div>
            </form>
            <ul _ngcontent-c3="" class="navbar-nav">
                <li _ngcontent-c3="" class="nav-item">
                    <a _ngcontent-c3="" class="nav-link" href="#pablo">
                        <i _ngcontent-c3="" class="material-icons">dashboard</i>
                        <p _ngcontent-c3="">
                            <span _ngcontent-c3="" class="d-lg-none d-md-block">Stats</span>
                        </p>
                    </a>
                </li>
                <li _ngcontent-c3="" class="nav-item dropdown">
                    <a _ngcontent-c3="" aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown" href="#pablo" id="navbarDropdownMenuLink">
                        <i _ngcontent-c3="" class="material-icons">notifications</i>
                        <span _ngcontent-c3="" class="notification">5</span>
                        <p _ngcontent-c3="">
                            <span _ngcontent-c3="" class="d-lg-none d-md-block">Some Actions</span>
                        </p>
                    </a>
                    <div _ngcontent-c3="" aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
                        <a _ngcontent-c3="" class="dropdown-item" href="#">Mike John responded to your email</a>
                        <a _ngcontent-c3="" class="dropdown-item" href="#">You have 5 new tasks</a>
                        <a _ngcontent-c3="" class="dropdown-item" href="#">You're now friend with Andrew</a>
                        <a _ngcontent-c3="" class="dropdown-item" href="#">Another Notification</a>
                        <a _ngcontent-c3="" class="dropdown-item" href="#">Another One</a>
                    </div>
                </li>
                <li _ngcontent-c3="" class="nav-item">
                    <a _ngcontent-c3="" class="nav-link" href="#pablo">
                        <i _ngcontent-c3="" class="material-icons">person</i>
                        <p _ngcontent-c3="">
                            <span _ngcontent-c3="" class="d-lg-none d-md-block">Account</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->